@import "../styles/variables.scss";

.App.dark {
  background-color: $primaryGradientBlack;

  #features,
  #about,
  #portfolio,
  #testimonials,
  #footer {
    background-image: url("../images/blurry-gradient2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  #services,
  #contact {
    background: $primaryGradientBlack;
  }

  h3,
  h2 {
    opacity: 0.7;
    color: $white;
  }

  p,
  li {
    color: $white;
  }

  /*   .fa {
    color: black;
  } */
}
