$primaryGradient: linear-gradient(90deg, #704a7d 0%, #656574 100%);
$primary: #704a7d;
$secondary: #8d8ca4;
$white: #fff;
$backgroundSecondary: #f6f6f6;

/* BLACK BACKGROUNDS COLORS */

$primaryGradientBlack: linear-gradient(10deg, #000000 20%, #1c1c1c 100%);
$backgroundPrimaryBlack: rgb(0, 0, 0);
$backgroundSecondaryBlack: black;
